﻿/* CSS Document 
*
* author 	Manuel Harder
* created 	2012
*
* COLORS:
*
*/

.subnav li {
	padding:0;
}
.subnav li a {
	padding:0 3px;
	display:block;
}
.subnav li a:hover {
	text-decoration:underline;
}


.logo {
	width:78px;
	height:68px;
	background:url(../images/logoSmall.png) top left no-repeat;
	position:absolute;
	top:-5px; 
	left:0;
}

input {
	border:1px solid #2fb6f1;
}
input[type="text"], textarea, input[type="password"], select {
	width:200px;
	padding:3px;
	border:1px solid #2fb6f1;
}
select { width:207px; }

input[type='submit'], a.addLink {
	border:1px solid #2fb6f1;
	cursor:pointer;
	padding:2px 5px;
	background:#FFF;
	color:#2fb6f1;
}


input.error, textarea.error {
	border:1px solid #b14920;
}
div.error {
	border:1px solid #b14920;
	color:#b14920;
	background:#FEF url(../images/icons/error.png) 10px 7px no-repeat;
}
div.success {
	border:1px solid #190;
	color:#190;
	background:#d9fed9 url(../images/icons/success.png) 10px 7px no-repeat;
}

.saveForm {
	margin:20px 0;
	overflow:hidden;
}
#pnlMessage, .msg, #msg {
	margin:5px 0;
	padding:5px 30px;
	font-style:italic;
	border-radius:4px;
	font-size:16px;
	font-weight:bold;
}
.submitBtn {
	margin-left:200px;
}
.formRow {
	padding:6px 10px;
	display:block;
	clear:both;
	border-bottom: 1px solid #D0C5A6;
   border-top: 1px solid #FFFFFF;
   overflow:hidden;
}

.formRow.odd { background:#e9e2cc; }
.formRow.even { background:#F2ECD9; }

.formLabel {
	width:200px;
	float:left;
	min-height: 10px;
	font-weight:bold;
}

#beer_control, #wine_control, #michael_control, #david_control { float:left; margin:0 5px; }

.table {
	width:100%;
	margin-top:15px;
	background:none;
}

.table th:first-child {	border-radius:5px 0 0 0; }
.table th:last-child { border-radius:0 5px 0 0; }

.table th {
	background:#332;
	color:#FFF;	
	padding:6px 0 4px;
}
.table td {
	border-bottom: 1px solid #d0c5a6;
   border-top: 1px solid #FFFFFF;
   font-family: "Times New Roman",Times,serif;
   font-size: 16px;
   padding: 4px 5px 4px 10px;
}

.delete, .edit, .view, .empty {
	width:16px; height:16px;
	display:block; float:left; 
	margin:4px 4px 2px;
	background:url(../images/icons/delete.png) top left no-repeat;
}

.navEntries {
	float:right;
}
.prevLink, .nextLink, .pageLink {
	display:inline-block;
	color:#F2ECD9;
}
.pageLink a, .pageLink span { padding:0px 6px; }


